<h1>The Kenny Loggin Page</h1>

<div class="row">
	<div class="col-md-5">
		<table class="table table-bordered">
		  <tr>
		    <th></th>
		    <th></th>
		  </tr>
		
		<% @responses.each do |response| %>
		  <tr>
		    <td><%= response.name %></td>
		    <td><%= link_to 'Destroy', response, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		  </tr>
		<% end %>
		</table>
	</div>
</div>

<%= link_to 'New Response', new_response_path %>
